

services:
  web:
    build: .
    container_name: mlops-api
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    environment:
      - PYTHONPATH=/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.7.1
    container_name: mlops-mlflow
    ports:
      - "5000:5000"
    command: mlflow ui --host 0.0.0.0
    volumes:
      - ./mlruns_xgboost:/mlruns

